:root {
	--color-header-footer: #2c3e50;
	--color-section: #1abc9c;
	--color-top-footer: #3a546d;
}
.as-debug {
    border: 1px solid red;
}

header,
.bottom-footer {
    background-color: var(--color-header-footer);
}
#jumbo,
#about {
    background-color: var(--color-section);
}
.top-footer {
    background-color: var(--color-top-footer);
}

.ms-container {
    width: 85%;
    margin: 0 auto;
}
#contact textarea,
#contact input {
    border: 0px;
    border-bottom: 1px solid grey;
}
header {
    color: white !important;
}